* {
  font-family: "Arial", sans-serif;
  background-color: #ddf1ff;
}
h1 {
  color: #3A627F;
  font-family: "Brushstroke";
  font-style: italic;
  font-weight: 100;
  font-size: 60px;
  text-align: center;
}
h3 {
  text-align: center;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

p.cupcakes {
  font-size: 20px;
  font-family: "Veranda", sans-serif;
  color: #008080;
}
.flashy {
  color: red;
}

.best {
color: #6c0031;
font-family: "Comic Sans MS", cursive, sans-serif;
}